.DS_Store
.idea
__pycache__
venv
*.twb
*.tde
*.twbx
*.twbr
*.ppt
*.pptx
*.csv
*.tsv
*.txt
*.xlsx
*.xls
*.doc
*.docx
*.pkl
*.pckl
*.pickle
*.exe
*.jar
*.log
*.db
*.zip
.Rproj.user
*.Rhistory
*.pyc
*.cpython-36.pyc
__pycache__
.Rproj.user
.RData
*.json
